<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.citms.icw.mapper.CommunityDeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="communityDeviceResultMap" type="cn.citms.icw.entity.CommunityDevice">
        <id column="deviceId" property="deviceId"/>
        <result column="communityId" property="communityId"/>
        <result column="buildId" property="buildId"/>
        <result column="unitId" property="unitId"/>
        <result column="communityShow" property="communityShow"/>
    </resultMap>


    <select id="selectCommunityDevicePage" resultMap="communityDeviceResultMap">
        select * from sq_community_device where is_deleted = 0
    </select>

</mapper>
