<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.citms.icw.mapper.VehicleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vehicleResultMap" type="cn.citms.icw.entity.Vehicle">
        <id column="vehicleId" property="vehicleId"/>
        <result column="communityId" property="communityId"/>
        <result column="plateNo" property="plateNo"/>
        <result column="plateColor" property="plateColor"/>
        <result column="plateType" property="plateType"/>
        <result column="idCardNo" property="idCardNo"/>
        <result column="ownerName" property="ownerName"/>
        <result column="phone" property="phone"/>
        <result column="ownerAddress" property="ownerAddress"/>
        <result column="creator" property="creator"/>
        <result column="createdTime" property="createdTime"/>
        <result column="modifier" property="modifier"/>
        <result column="modifiedTime" property="modifiedTime"/>
        <result column="vehicleBodyColor" property="vehicleBodyColor"/>
        <result column="vehicleBrand" property="vehicleBrand"/>
        <result column="roomNo" property="roomNo"/>
    </resultMap>


    <select id="selectVehiclePage" resultMap="vehicleResultMap">
        select * from sq_vehicle where is_deleted = 0
    </select>

</mapper>
